Repository guibranco/ViaCEP, pull requests merged in 2023-07, with the labels that each got.

#66 Update appveyor.yml
  appveyor.yml
Labels: size/M

#68 Update issue templates
  .config/dotnet-tools.json
  .deepsource.toml
  .githooks/pre-commit
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/workflows/deep-source.yml
  .github/workflows/linter.yml
  .github/workflows/size-label.yml
  README.md
  Src/ViaCep/IViaCepClient.cs
  Src/ViaCep/ViaCepClient.cs
  Tests/ViaCep.Tests/AddressTests.cs
  Tests/ViaCep.Tests/CoverageTests.cs
  Tests/ViaCep.Tests/ResultsFixture.cs
  Tests/ViaCep.Tests/ZipCodeTests.cs
  appveyor.yml
Labels: enhancement, documentation, code quality, size/L

#70 Upgrade .NET to 7.0
  Tests/ViaCep.Tests/ViaCep.Tests.csproj
Labels: size/XS

#72 Added Integration Tests
  Tests/ViaCep.IntegrationTests/AddressTests.cs
  Tests/ViaCep.IntegrationTests/IntegrationTest.cs
  Tests/ViaCep.IntegrationTests/ViaCep.IntegrationTests.csproj
  Tests/ViaCep.IntegrationTests/ZipCodeTests.cs
  ViaCep.sln
Labels: enhancement, code quality, size/L, tests

#73 Linter
  README.md
  Tests/ViaCep.IntegrationTests/AddressTests.cs
  Tests/ViaCep.IntegrationTests/ZipCodeTests.cs
Labels: code quality, size/M

#74 Update appveyor.yml
  appveyor.yml
Labels: bug, size/XS
